client-app/node_modules
ordering-service/node_modules
product-hub/node_modules
user-authorization/node_modules
mail-service/node_modules

client-app/package-lock.json
ordering-service/package-lock.json
product-hub/package-lock.json
user-authorization/package-lock.json
mail-service/package-lock.json

client-app/.env
ordering-service/.env
product-hub/.env
user-authorization/.env
mail-service/.env
product-hub/.env
